.profilePictureA{
  height: 300px;
  width: 300px;
  border-radius: 100%;
  margin: 1em;
}
.profileName{
  font-size: 30px;
  margin-top: 2em;
}
.profilePage{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.editProfileButton {
    background: #5f9ea0;
    padding: 0.9em 3.9em;
    border-radius: 2em;
    color: white;
    font-size: .8em;
    max-width: 14em;
    font-weight: 700;
}

.editProfileButton:focus{
    outline:none;
}

.editProfileButton:hover{
    cursor: pointer;
}