.profilePictureA{
  height: 10em;
  width: 10em;
  border-radius: 100%;
  margin: 0.1em;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.profileName{
  font-size: 30px;
  margin-top: 2em;
}
.profilePage{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
}
.editProfileButton {
    background: #488b8f;
    padding: 0.9em 3.9em;
    border-radius: 2em;
    color: white;
    font-size: .8em;
    max-width: 14em;
    font-weight: 700;
    text-decoration: none;
    border: 0.2em solid #488b8f;
    &:hover{
      background-color: white;
      border: 0.2em solid #488b8f;
      color: #488b8f;
      cursor: pointer;
    }
    &:focus{
      outline: none;
    }
}

.editProfileButton:focus{
    outline:none;
}

.editProfileButton:hover{
    cursor: pointer;
}

.posts-container {
    background: white;
    width: 100%;
    margin-top: 2em;
    height: 100%;
    padding: 1em;
    border-top: 1px solid #b7b5b5;
}

.bio{
  margin: 0;
}
