.delete{
  position: absolute;
  background: white;
  width: 100%;
  text-align: right;
}

.post-card{
  position: relative;
}

i.fas.fa-trash {
    padding: .3em;
    padding-right: 2.5em;
    color: #488b8f;
    &:hover{
      cursor: pointer;
      color: #b7b5b5;
    }
}

i.fas.fa-ellipsis-h {
    color: #488b8f;
    position: absolute;
    right: 0.6em;
    top: 0.4em;
    &:hover{
      cursor: pointer;
      color: #b7b5b5;
    }
}

.title{
  margin: .3em;
  margin-left: 1em;
}
